<% @articles.each do |article| %>

  <h1><%= link_to "#{article.id}", article %>
  <%= article.title %></h1>
  <div><%= article.body %>- <%= link_to "Eliminar", article, method: :delete %></div>

<% end %>
