<header>
	<nav class="be-green black large-padding">
		<ul class="row center-xs middle-xs no-list" style="list-style-type:none;">
			<li class="col-md">
				<h1 class="no-margin" id="logo">Rails</h1>
			</li>
			<li class="col-md">
				<%= link_to "Inicio", root_path, class: "title" %>
			</li>
			<li class="col-md title">
				Diseño
			</li>
			<li class="col-md title">
				Programación
			</li>
			<li class="col-md title">
				Tecnología
			</li>
			
			<li class="col-md title">
				Tecnología
			</li>
			<% if user_signed_in? %>
				<li class="col-md">	
					<%= button_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "session btn white" %>
				</li>
			<% else %>
				<li class="col-md">	
					<%= button_to "Iniciar Sesion", new_user_session_path, method: :get, class: "session btn white" %>
				</li>
				<li class="col-md">	
					<%= button_to "Crear cuenta", new_user_registration_path, method: :get, class: "session btn2 purple" %>
				</li>
			<% end %>
		</ul>
	</nav>
</header>