*{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
.be-green {
	background-color: rgb(185,255,0);
}
.be-alert{
	background-color: red;
}
.black {
	color: #222222;
}
.white{
	color: white;
}
.red{
	color:red !important;
}
.blue{
	color:blue;
}
.large-padding {
	padding: 15px 10px;
}
.title{
	font-family: 'Oswald', sans-serif;
}
a, a:visited{
	color: inherit;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.no-margin{
	margin: 0px;
}
.logo{
	font-size: 1.3em;
	font-family: 'Rock Salt', cursive !important;
}
.logo:hover{
	text-decoration: none;
}
.field{
	margin-top: 1em;
}
.text-left{
	text-align: left;
}
.form-control{
	border:none;
	border-bottom: 1px solid;
	outline:none;
	width:100%;
	display: block;
	padding:10px 0px;
	font-size:1.2em;
}
.btn{
	background-color:rgb(115,29,255);
	border:none;
	outline:none;
	text-transform: uppercase;
	cursor: pointer;
	padding:10px;
}
.btn2{
	background-color:rgb(255,255,255);
	border:none;
	outline:none;
	text-transform: uppercase;
	cursor: pointer;
	padding:10px;
}
.session{
	font-size: 12px;
	font-weight: bold;
}
.purple{
	color:#731DFF;
}
.no-lits{
	list-style-type:none;
}